<mat-toolbar>
  <span class="brand">sneakers</span>
  <button mat-button class="collections" [routerLink]="['/collections']">Collections</button>
  <button mat-button class="mens" [routerLink]="['/mens']">Men</button>
  <button mat-button class="womens" [routerLink]="['/womens']">Women</button>
  <button mat-button class="about" [routerLink]="['/about']">About</button>
  <button mat-button class="Contact" [routerLink]="['/contact']">Contact</button>
  <span class="spacer"></span>
  <button mat-icon-button class="icon material-symbols-outlined cart" aria-label="cart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="icon material-symbols-outlined user" aria-label="account icon">
      <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
