<mat-toolbar>
  <span class="brand"><img src="./assets/logo.svg" alt=""></span>
  <button mat-button class="collections" [routerLink]="['/collections']">Collections</button>
  <button mat-button class="mens">Men</button>
  <button mat-button class="womens">Women</button>
  <button mat-button class="about">About</button>
  <button mat-button class="contact">Contact</button>
  <span class="spacer"></span>
  <button mat-icon-button class="icon material-symbols-outlined cart" aria-label="cart icon">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <img class="avatar" src="./assets/image-avatar.png" alt="">
</mat-toolbar>
