:host {
  display: block;
  padding: 1rem;
}

.collection {
    margin: 1rem;
    padding: .5rem;

    &:hover {
      cursor: pointer;
    }
  }

.collections-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

h1 {
  margin: 0;
  padding: .5rem;
}
